@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* Add some styles for body*/
body {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  background: #fafaf9;
  color: #cbd5e1;
  font-family: "Sora", sans-serif !important;
  line-height: 1.5 !important;
  padding-top: 164px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 336px;
  background-color: #ffffff;
  padding: 16px;
  padding-bottom: 20px;
  border-radius: 16px;
  gap: 16px;
}

img {
  width: 100%;
}

.tag {
  width: fit-content;
  padding: 6px 16px;
  border-radius: 16px;
  background-color: #e6d6fc;
  color: #883ae1;
  font-size: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

h1 {
  color: #20293a;
  font-size: 18px;
}

p {
  color: #6c727f;
  font-size: 14px;
}

.divider {
  margin: 0px -16px;
  height: 1px;
  background-color: #e5eaf0;
}
